<ul [ngClass]="{'story-block': block,'story-inline': inline}">
  <li *ngFor="let story of storiesList">
    <div>
      <div *ngIf="story.image" class="image">
        <label *ngIf="block">{{story.heading}}</label>
      </div>
      <div [ngClass]="{'content': story.image, 'no-image': !story.image}">
        <h3 *ngIf="inline">{{story.heading}}</h3>
        {{story.text}}
      </div>
      <label *ngIf="block" class="full-view">View Full Story</label>
    </div>
    <label *ngIf="inline" class="full-view">View Full Story</label>
  </li>
</ul>