.navigation {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  div {
    &:first-child {
      display: inline-block;
      span {
        font-size: 30px;
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
  nav {
    display: inline-block;
    ul {
      li {
        margin-left: 15px;
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navigation {
    div {
      &:first-child {
        border-bottom: 2px solid gray;
        width: 100%;
        li {
          list-style-type: none;
          float: left;
          padding: 2px;
          font-size: 14px;
          line-height: 2;
          margin: 0 10px 0 5px;
        }
        span {
          float: left;
          font-size: 25px;
          font-weight: bold;
        }
      }
      &:last-child {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
