<div class="tour-block">
  <li *ngFor="let tour of tourList">
    <div>
      <div>
        <h3>{{tour.heading}}</h3>
        <p>{{tour.text}}</p>
        <label class="full-view">Connect</label>
      </div>
    </div>
  </li>
</div>