.landing-content {
  height: 100vh;
  border: 1px solid gray;
  margin-bottom: 10px;
  div {
    &:first-child {
      font-size: 45px;
      padding: 50px 100px 50px 100px;
      h1 {
        margin: 0;
      }
    }
    &:nth-child(2) {
      text-align: justify;
      padding: 0 100px 50px 100px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .landing-content {
    height: auto;
    div {
      &:first-child {
        font-size: 12px;
        padding: 10px;
        h1 {
          margin: 0;
        }
      }
      &:nth-child(2) {
        text-align: justify;
        padding: 10px;
      }
    }
  }
}
