<app-header></app-header>
<div class="landing-content">
    <div>
        <h1>Innovation Story Landing</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum aliquet magna. Fusce congue nisl ut
            dictum tempus. Donec sit amet lobortis augue, quis semper lectus. Vivamus feugiat ligula nec efficitur
            sollicitudin. Mauris auctor fermentum leo ut posuere. Nulla vel elit a felis hendrerit vehicula ut id
            tortor. Sed dui quam, sodales et tellus in, ultricies accumsan nibh.</p>
    </div>
</div>
<app-story [storiesList]="blockList" [block]="true"></app-story>
<app-story [storiesList]="inlineList" [inline]="true"></app-story>
<app-tour></app-tour>
<app-footer></app-footer>