.footer {
  div {
      margin: 0 0 10px 0;
    li {
      color: gray;
      padding: 5px;
      display: inline-block;
      border-right: 1px solid gray;
      text-decoration: underline;
      &:last-child{
          border-right: none;
      }
    }
    .left{
        float: left;
    }
    .copywrite{
        color: #000;
        float: right;
        border-right: none;
        text-decoration: none;
    }
  }
}

@media only screen and (max-width: 767px){
  .footer{
    display: none;
  }
}