<footer class="footer">
  <div>
    <label>3M</label>
    <li *ngFor="let footer of footerRow1">{{footer.name}}</li>
  </div>
  <div>
    <li class="left" *ngFor="let footer of footerRow2">{{footer.name}}</li>
    <li class="copywrite">&copy; 3M 2012. All rights reserved. </li>
  </div>
</footer>